h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
h5 {
    text-align: center;
}

body,  div{
    font-family: arial, sans-serif
}

.gwt-Button { font-size: 150%;
    position:absolute;
    top:50%;
    left:46%;
}